# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
*.egg-info/

# OS/Editors
.DS_Store
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Data (optional – keep only small sample in /data)
*.csv
!data/iot_smart_building_data.csv
